
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 100vh;*/

}



#additional-network {
    width: 100%;
    padding: 80px;
    background-color: #f0f0f0;

}


.container-algo {
    width: 11%;
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
    margin-left: 100px;
    z-index: 1;


}

.element {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    align-items: center;
}

.button-style {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}
.button-style:hover {
    background-color: #005fb2;
    border-color: #005fb2;
}


#network {
    width: 100%;
   height: 80%;
    background-color: #005fb2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 10px;


}


.square {
    width: 20px;
    height: 20px;
    background-color: #FF9843;
}

.text {
    margin-left: 10px;
}

.input-container {

    width: 10%;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    z-index: 1;

}

#input-node-container {
    display: none;
    margin: 10px 0;
    flex-direction: column;

}

.confirm-dijkstra {
    display: inline-block;
    outline: 0;
    border: 0;

    cursor: pointer;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 0.9;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #000000;
    box-shadow: 0 0 0 3px #000000 inset;

}




.confirm-dijkstra:hover {
    transform: translateY(-2px);
}

.vertex-input {
    margin-bottom: 10px;
}

.input-label {
    margin-bottom: 5px;
}

.input-field {
    margin-bottom: 10px;
    padding: 5px;

}

