* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#additional-network {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    margin-top: 10%;
}

.container-algo {
    width: 11%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.input-algorithm {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    align-items: center;
}

.button-style {
    width: 100%;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.button-style:hover {
    background-color: #005fb2;
    border-color: #005fb2;
}


#network {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 10px;
    z-index: 1;
    background: #eedfbc;
}

.input-container {
    width: 12%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#input-node-container {
    display: none;
    margin: 10px 0;
}

#input-node-container p{
    margin: 0;
}

.dijkstra-inputs {
    display: flex;
    gap: 20px;
    align-items: center;
}

.distance-block {
    margin-top: 10px;
}

.vertex-input {
    margin: 0;
    border: none;
    border-radius: 100%;
    display: inline;
    padding: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
}

.confirm-dijkstra {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 0.9;
    transition: 200ms all;
    background: transparent;
    color: #000000;
    box-shadow: 0 0 0 3px #000000 inset;
}

.confirm-dijkstra:hover {
    transform: translateY(-2px);
}

.input-label {
    margin-bottom: 5px;
}

.input-field {
    margin-bottom: 10px;
    padding: 5px;
}

textarea {
    resize: none;
    border: 1px solid black;
    border-radius: 0.25rem;
    min-width: 50px;
    padding: 2px;
}

.form {
    margin-top: 25px;
}

.upload-label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #c1cdfd;
    padding: 10px;
    border-radius: 0.25rem;
}

.upload-icon {
    display: block;
    width: 15px;
    height: 15px;
}

.img-preview {
    display: none;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}
